<!-- This page shows the generated essay created by GPT-3 to the user -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Essay</title>
</head>
<body>
    <h1> Your generated essay: </h1>
    <p id="generated_essay"></p>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $("#generated_essay").text(`${data}`);
    </script>
    <footer>
        <p>Created by: Brian Ross<a href="https://www.linkedin.com/in/brian-ross-7877b915b/">
    </footer>

    
    
</body>
</html>

